.header {
    @include centering;
    padding: 5px;
    position: relative;
    box-shadow: inset -2px 0px 8px 0px rgb(187, 187, 187),  0px 5px 0px 5px rgba(177, 176, 176, 0);
    z-index: 1;
        img {
            width: 198px;
            height: 30px;
            margin-top: 23px;
            margin-bottom: 12px;
            position: relative;   
        }
        .go-back {
            width: 45px;
            height: 45px;
            font-size: 22px;
            top:40%;
            left: 35px;
            position: absolute;
        }
        a {
            text-decoration: none;
            color:black;
        }
}