* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: auto;
    background-color: rgb(248, 248, 248);
    height: auto;
    max-width: 1200px;
}
html {
    scroll-behavior: smooth;
}
p {
    margin: 0;
}